.header {
  //   margin-top: 20px;
  &__top {
    // margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  &__item {
    padding-top: 0px;
    &--hotline {
      font-size: 16px;
      color: #333333;
      font-weight: 500;
    }
    &--hotline > span {
      font-weight: 550;
      color: #175c01;
      letter-spacing: 2px;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }
    &--name {
      font-size: 20px;
      color: #175c01;
      font-weight: 550;
    }
  }
  &__icon {
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    align-items: center;
  }
  &__search {
    width: 200px;
    height: 30px;
    border-radius: 40px;
    background: #ffffff;
    border: 1px solid #175c01;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -40px;
    margin-right: 40px;
    &--txt {
      border: none;
      padding: 0;
      color: #2c3e50;
      background: none;
      outline: none;
      font-size: 12px;
      transition: 0.4s;
      width: 200px;
      margin-left: 8px;
    }
    &--btn {
      color: #175c01;
      // background: #F5F5F5;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 8px;
    }
  }

  &__box {
    // width: 20%;
    &--link {
      color: #2c3e50;
      width: 100%;
      text-decoration: none;
      font-size: 18px;
      text-transform: uppercase;
      margin-top: 20px;
    }

    &--active {
      font-weight: 550;
      color: #175c01;
      border-bottom: 1px solid #175c01;
      text-decoration: none;
    }
  }
}
.banner {
  margin-top: 2.4rem;
}
.banner > img {
  width: 100%;
}
