.cart {
  &__breadcrumb {
    border-top: 1px solid #f5f5f5;
    border-bottom: 1px solid #f5f5f5;
    padding: 20px 0px;
  }
  &__head {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  &__shopping {
  }
}
