.sectionBanners {
  width: 100%;
  height: 250px;
  overflow: hidden;
  position: relative;
  margin-top: 2rem;
}
.sectionBanners img {
  width: 100%;
  height: 100%;
  transition: all 0.8s linear;
  object-fit: cover;
}

.sectionBanners h1 {
  letter-spacing: 2.5px;
  color: #1c1c1c;
  position: absolute;
  top: 35%;
  left: 25%;
  transform: translateY(-50%);
  font-family: "Caramel", cursive;
  font-weight: 500;
  font-size: 3.4rem;
  color: #2e7d32;
  text-shadow: 1px 2px 2px #d5d5d5;
}
.sectionBanners:hover h1 {
  opacity: 1;
}

.content {
  margin-top: 44px;
  &__item {
    &--txt {
      font-size: 15px;
      font-weight: 400;
      color: #363f4d;
      line-height: 1.8;
    }
  }
  &__box {
  }
  &__list {
    margin-left: 12px;
    &--item {
      font-size: 16px;
      font-weight: 400;
      color: #363f4d;
      padding: 6px 0;
    }
  }
}
