/* css detail page */
.sectionDetail {
  margin-top: 1.2rem;
  &__breadcrumb {
    border-top: 1px solid #f5f5f5;
    border-bottom: 1px solid #f5f5f5;
    padding: 12px 0px;
  }
  &__list {
    display: flex;
    background: transparent;
    color: rgba(112, 126, 137, 0.5);
    padding: 0;
    list-style: none;
    margin: 0;
    &--item {
      display: flex;
      align-items: center;
      margin-right: 6px;
      cursor: pointer;
    }
    &--link {
      color: #2c3e50;
      font-size: 14px;
      font-weight: 400;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}
.sectionBlog {
  margin-top: 1.2rem;
  &__breadcrumb {
    border-top: 1px solid #f5f5f5;
    border-bottom: 1px solid #f5f5f5;
    padding: 20px 0px;
  }
  &__main {
    margin-top: 44px;
  }
  &__content {
    width: 100%;
  }
  &__post {
    width: 100%;
    margin-bottom: 20px;
    &--thumbnail {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
    &--thumbnail > img {
      width: 100%;
      height: 180px;
      border-radius: 8px;
    }
    &--title {
      color: #1c1c1c;
      font-size: 16px;
      font-weight: 500;
      text-align: left;
      margin: 0;
      letter-spacing: 0.5px;
      width: 95%;
      cursor: pointer;
    }
    &--title:hover {
      transition: all 0.3s ease-in-out;
      opacity: 0.9;
    }
    &--desc {
      font-size: 14px;
      color: #333333;
      line-height: 1.5;
      width: 95%;
    }
  }
  &__newslatest {
    &--titleblog {
      margin-bottom: 14px;
    }
    &--titleblog > h3 {
      color: #1c1c1c;
      font-size: 24px;
      letter-spacing: 0.2px;
      font-weight: 600;
      margin: 0;
      text-align: left;
    }
    &--thumbnail {
      width: 100%;
    }
    &--thumbnail > img {
      width: 100%;
      height: 80px;
      border-radius: 8px;
      object-fit: cover;
      overflow: hidden;
    }
    &--title {
      color: #1c1c1c;
      font-size: 16px;
      font-weight: 550;
      text-align: left;
      margin: 0;
      letter-spacing: 0.5px;
      cursor: pointer;
    }
    &--title:hover {
      transition: all 0.3s ease-in-out;
      opacity: 0.9;
    }
  }
  &__item {
    margin-bottom: 12px;
  }
  &__pag {
    margin-top: 3rem;
    margin-bottom: 1.2rem;
    display: flex;
    justify-content: center;
  }
}

/* end blog page */

/*  detail blog page */
.blogDetail {
  margin-top: 1.2rem;
  &__breadcrumb {
    border-top: 1px solid #f5f5f5;
    border-bottom: 1px solid #f5f5f5;
    padding: 20px 0px;
  }
  &__main {
    border-bottom: 2px solid #f5f5f5;
    padding-bottom: 20px;
  }
  &__head {
    border-bottom: 1px solid #f5f5f5;
    padding: 12px 0;
    &--title {
      color: #1c1c1c;
      font-size: 26px;
      font-weight: 400;
      letter-spacing: 2px;
    }
  }
  &__content {
    margin-top: 1.6rem;
    &--item {
      margin-top: 24px;
    }
    &--thumbnail {
      width: 50%;
      height: 600px;
      margin-top: 20px;
      margin-left: 50px;
    }
    &--thumbnail > img {
      width: 80%;
      height: 100%;
    }
  }
  &__content p {
    color: #363f4d;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.8;
  }
  &__related {
    // height: 350px;
    &--head {
      margin-top: 20px;
    }
    &--head > h2 {
      margin: 0;
      color: #1c1c1c;
      font-size: 30px;
      font-weight: 500;
      text-align: center;
      letter-spacing: 1.5px;
    }
  }
}

/* end detail blog page */
