.account {
  margin-bottom: 50px;
  &__breadcrumb {
    border-top: 1px solid #f5f5f5;
    border-bottom: 1px solid #f5f5f5;
    padding: 20px 0px;
  }
  &__info {
  }
  &__left {
    &--title {
      font-size: 19px;
      letter-spacing: 1.25px;
      color: #1c1c1c;
      font-weight: 550;
      margin-bottom: 0;
    }
    &--fullname {
      color: #212b25;
      font-size: 14px;
      font-weight: 700;
    }
    &--fullname > span {
      color: #2e7d32;
      font-weight: 550;
      cursor: pointer;
      letter-spacing: 0.5px;
    }
  }
  &__list {
    list-style: none;
    padding: 0;
    margin-top: 24px;
  }
  &__item {
    margin-bottom: 12px;
    &--link {
      color: #363f4d;
      font-size: 16px;
      font-weight: 500;
      transition: color 0.3s linear;
    }
    &--active {
      color: #2e7d32;
      font-weight: 500;
    }
    &--link:hover {
      color: #2e7d32;
    }
  }
  &__right {
    &--title {
      font-size: 19px;
      letter-spacing: 1.25px;
      color: #1c1c1c;
      font-weight: 550;
      margin-bottom: 0;
    }
    &--useraccount {
      margin-top: 24px;
    }
    &--useraccount > p {
      color: #868585;
      font-weight: 500;
    }
    &--useraccount strong {
      color: #363f4d;
    }
  }
}
